VITE_TMDB_READ_API_KEY=bd3c132d6947c30fe9dc57bd3960fc02
VITE_OPENSEARCH_ENABLED=edit

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=...

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173
